<%= render partial: "/posts/message"%>
<div class="container">
    <h1>Add new comment</h1>
    <%= bootstrap_form_with model: @comment, url: user_post_comments_path(user_id: @user.id, post_id: @post.id) do |f| %>
        <%= f.text_area :text %><br>
        <%= f.submit "Submit", class: "btn btn-dark" %>
    <% end %>
</div>