<h1>User pages </h1>
<% @users.each do |item| %>
   <%= link_to user_path(item) do%>
      <div>
      <span><img src=<%= item.photo %>></span>
      <span>
      <h3><%= item.name %></h3>
      <p>Number of post: <%= item.postsCounter %> </p>
      </span>
      </div>
   <% end %>
<% end %>