<h1>User pages </h1>
<% @users.each do |item| %>
   <div>
    <div><%= item.photo %></div>
    <div>
     <h3><%= item.name %></h3>
     <p>Number of post: <%= item.postsCounter %> </p>
    </div>
   </div> 
<% end %>